@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

@theme {
  --color-prim: #ad46ff;
  --color-prim-light: #ca8dfc;
  --color-second: #7A6EFF;
  --color-dark: #1c1d20;
  --color-text: #222E48;
  --color-gray: #3B3B3C;
  --color-gray-light: #262629;
  --color-white: #fff;
  --color-black: #000;

  --font-kanit: "Kanit", sans-serif;
  --font-merriweather: "Merriweather", serif;
  --font-syne: "Syne", sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

:root {
  --prim: #ad46ff;
  --prim-light: #ca8dfc;
  --second: #7A6EFF;
  --dark-color: #1c1d20;
  --text: #222E48;
  /* --body: #171718; */
  --gray-color: #3B3B3C;
  --gray-light: #262629;
  --white: #fff;
  --black: #000;

  --font-kanit: "Kanit", sans-serif;
  --font-merriweather: "Merriweather", serif;
  --font-syne: "Syne", sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

.Kanit {
  font-family: var(--font-kanit);
}

.Merriweather {
  font-family: var(--font-merriweather);
}

.Syne {
  font-family: var(--font-syne);
}


body {
  overflow-x: hidden !important;
  font-family: var(--font-kanit);
}

* {
  scroll-behavior: smooth;
}

.navbar {
  z-index: 9999;
}

.hero-header {
  width: 100%;
  height: 100vh;
  background-image: url("../public/Images/Hero-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content h1 span {
  padding-left: 15%;
  position: relative;
}

.hero-content h1 span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  width: 80px;
  height: 3px;
  background: var(--black);
}

.clutchImg {
  position: absolute;
  top: -12%;
  left: -8%;
  box-shadow: 0 0 10px rgba(131, 131, 131, 0.3);
  background-color: var(--white);
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.clutchImg:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid rgba(131, 131, 131, 0.2);
  z-index: -1;
}

.arrowImg {
  position: absolute;
  top: 20%;
  left: -15%;
}

.hero-info-wrap {
  position: absolute;
  top: 50%;
  left: -15%;
}